$dark: #1a1b13;
$sky: #5fc1e8;

.card {
  background-color: $dark;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    background-color: $sky;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
  }
}
